.fade-in-womb {
  animation-name: fade-in-womb;
  animation-duration: 1200ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in-womb {
  0% {
    opacity: 0;
    transform: scale(0.75);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.expand-womb {
  height: var(--womb-size);
  width: var(--womb-size);
  filter: blur(var(--womb-blur));
}

.reveal-text {
  filter: blur(var(--text-blur));
  transform: scale(var(--text-scale));
  opacity: var(--text-opacity);
}
