.womb-enter {
  animation-name: womb-enter-opacity;
  animation-duration: 2800ms;
  animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0); /* ease in expo */
}

@keyframes womb-enter-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hint-enter {
  animation-name: hint-enter;
  animation-duration: 3500ms;
  animation-timing-function: ease-in-out;
}

@keyframes hint-enter {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
