.womb-enter {
  animation-name: womb-enter-opacity;
  animation-duration: 3000ms;
  animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0); /* ease in expo */
}

@keyframes womb-enter-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hint-enter {
  animation-name: hint-enter;
  animation-duration: 3700ms;
  animation-timing-function: ease-in-out;
}

@keyframes hint-enter {
  0% {
    opacity: 0;
  }
  89% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.womb-breathe {
  animation-name: womb-breathe;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes womb-breathe {
  3% {
    filter: blur(0px);
    transform: scale(1);
  }
  45% {
    filter: blur(1.75px);
    transform: scale(1.025);
  }
  55% {
    filter: blur(1.75px);
    transform: scale(1.025);
  }
  97% {
    filter: blur(0px);
    transform: scale(1);
  }
}
