@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/* :root {
  font-family: "Helvetica", sans-serif;
} */

.font-display {
  font-family: "Helvetica Neueu", sans-serif;
}

html {
  height: 100%;
}

body {
  /* height: 100%; */
  background-color: black;
}

div#__next {
  @apply h-full;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

input:focus {
  outline: none;
}

body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input::placeholder {
  color: rgb(113 113 122);
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
