@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Helvetica", sans-serif;
}

html,
body {
  height: 100%;
  background-color: black;
  overflow: var(--overflow-status);
}

div#__next {
  @apply h-full;
}

/* Highlight color */
::selection {
  background-color: white;
  color: black;
}
