/* title and line */
.scroll-title {
  filter: blur(calc(var(--scroll-title) * 4px));
  opacity: calc(1 - calc(var(--scroll-title) * 4.25));
}

.scroll-cursor {
  filter: blur(calc(var(--scroll-title) * 3px));
  opacity: calc(1 - calc(var(--scroll-title) * 4.25));
}

/* info section */
.scroll-info {
  opacity: var(--scroll-info, 0);
  filter: blur(calc((1 - var(--scroll-info)) * 1px));
}

/* access section */
.scroll-access {
  opacity: var(--scroll-access, 0);
  filter: blur(calc((1 - var(--scroll-access)) * 1px));
}
